.download{
	border: solid 1px #81e4ed;
	background-color: #e8fcfe;
	box-sizing: border-box;
	border-radius: 1px;
	margin-top: 30px;
	min-height: 140px;
	&__text{
		float: left;
		width: 61%;
		text-align: justify;
		font-family: ArialMT;
		font-size: 16px;
		padding-top: 30px;
		padding-left: 31px;
		line-height: 26px;
	}
	&__button{
		margin-top: 39px;
		margin-right: 40px;

	}

}
.btn-psd{
	float:right;
	outline: none;
	font-family: ArialBold;
	font-size: 18px;
	text-transform: uppercase;
	width: 240px;
	height: 60px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
	border: 1px solid #2aacc8;
	border-radius: 8px;
	background-color: #2aacc8;
	background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
	transition: 0.5s;
	padding-left: 23px;
	line-height: 34px;
	&:before{
		content: '';
		display: inline-block;
		width: 29px;
		height: 25px;
		background: url('../img/download.png')no-repeat center;
		position: relative;
		right: 22px;
		top: 4px;
	}

	&:hover{
		background-color: #2aacc8;
		background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #70ced8 50%, #81e4ed 100%);
		transition: all 0.3s;
	}
	&:active{
		box-shadow:inset 2px 2px 2px  rgba(0, 0, 0, 0.2);
		transition: all 0.2s;
	}
}