.bgwrap{
	background-color:$bgf;
	border-bottom:1px solid #616161;
}
.header {
	min-height: 120px;

	&__logo{
		margin-top: 25px;
		float: left;
		transition: 0.15s;
		&:hover{
			transform: scale(1.05);
			transition: 0.5s;
		}

		// margin-left: 19px;
	}
	&__nav{
		margin-right: 1px;
		margin-top: 41px;
	}
}

.logo{
	text-transform: capitalize;
	font-size: 0px;
	display: block;
	color: inherit;
	border-style: none;
	&__bis{
		display: inline-block;
		font-family: LatoBlack;
		font-size: 50px;


	}
	&__lite{
		display: inline-block;
		font-family: LatoRegular;
		color:$icon;
		position: relative;
		// right: 10px;
		font-size: 50px;


	}
}
.subMenu{
	list-style-type: none;
	position: absolute;
	text-transform: capitalize;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: 0.15s;
	min-width:200px;
	background-color: #fff;
	border-radius:0 0 2px 2px;
	// box-sizing: content-box;
	transition: 0.2s;


	&__item{
		white-space: nowrap;
		padding-left: 18px;
		padding-bottom: 9px;
		padding-top: 11px;
		color:#000;
		border-bottom:1px solid #9b9b9b;
		transition: 0.15s;
		&:last-child{
			border-style:none;
		}

		&:hover{
			color:$icon;
			transition: 0.15s;
		}
		&:active{
			color:$icon*1.8;
		}

	&:first-child{
		padding-top: 24px;
	}
	
}
	
}

// .nav__item .sub{
// 	// position: relative;
// 	padding-right: 5px;
// }
.sub:hover .arr::after{
	transform: rotate( 585deg);
	transition: all 1s;
}

	


.arr::after {
	content: '';
	display: inline-block;
	width: 3px;
	height: 3px;
	border: solid #000;
	border-width:  2px 0 0 2px ;
	transform: rotate( 45deg);
	transition: transform 0.5s;
	vertical-align: middle; 
	margin-left: 10px;
	position: relative;
	left: 2px;
}


.nav{
	text-transform: uppercase;
	font-family: ArialBold;
	font-size: 13px;
	float:right;

	&__item{
		display: inline-block;
		list-style-type: none;
		padding: 7px 20.5px 7px;
		// margin-left: 2px;
		border-top: 5px solid rgba(128, 128, 128, 0);
		border-bottom: 5px solid rgba(128, 128, 128, 0);
		cursor: pointer;
		transition: 0.2s;
		
		


		&:hover{
			background-color: #fff;
			border-top: 5px solid $icon;
			border-bottom: 5px solid $icon;
			border-radius: 2px;
			transition: 0.2s;
		}
		&:active{
			color:#818181;
		}
		&:hover .subMenu{
			opacity: 1;
			height: 202px;
			border-bottom: 5px solid $icon;
			transition: 0.2s height;
		}
	}
	&__link{
		text-decoration: none;
		color: inherit;
		
	}

	&__subMenu{
		// margin-top: 31px;
		// margin-left: 5px;
		top: 30px;
		left: 0px;
	}
}
.nav__item.sub{
	padding-left: 10px;
	margin-left: 12px;
	padding-right: 15px;
	// margin-right: -1px;
	position: relative;
	&:hover{
		border-bottom: 5px solid #80808000;
	}
}
