@import"../fonts/stylesheet.css";

// ArialBold
// MyriadPro
// ArialMT
// LatoBlack
// LatoRegular
$bgf:#e8ebf1;
$bgs:#81e4ed;
$icon:#2aacc8;
$link:#5dbdd3;

* {
	margin: 0;
	padding: 0;
}

.wrapper{
	min-width:870px;
	// font-family: LatoBlack;
	// box-sizing: content-box;
}

.container{
	max-width:1000px;
	margin: 0 auto;
	padding-right: 12px;
	padding-left: 12px;
	// background-color: antiquewhite
}

.cf:after {
	display: block;
	content: "";
	clear: both;
}

_res{
	margin-top: 0;
	margin-bottom: 0;
}

.main{
	background-color: #fff;
	min-height: 757px /* удалить эту строку */
}

@import "header.scss";
@import "banner.scss";
@import "info.scss";

@import "lworks.scss";
@import "client.scss";
@import "download.scss";
@import "footer.scss";

