@import"../fonts/stylesheet.css";

// ArialBold
// MyriadPro
// ArialMT
// LatoBlack
// LatoRegular
$bgf:#e8ebf1;
$bgs:#81e4ed;
$icon:#2aacc8;

* {
	margin: 0;
	padding: 0;
}

.wrapper{
	min-width:750px;
	// font-family: LatoBlack;
	// box-sizing: content-box;
}

.container{
	max-width:1024px;
	margin-right: auto;
	margin-left: auto;
	// background-color: antiquewhite
}

.cf:after {
	display: block;
	content: "";
	clear: both;
}

_res{
	margin-top: 0;
	margin-bottom: 0;
}
body{
	background-color: rgb(77, 77, 77);
}
@import "header.scss";
@import "banner.scss";

